<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>examen2016_2017</display-name>
  <context-param>
    <param-name>title</param-name>
    <param-value>Gestion du parc automobile</param-value>
  </context-param>
  <context-param>
    <param-name>entetedepage</param-name>
    <param-value>/WEB-INF/JSP/commun/entetedepage.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>pieddepage</param-name>
    <param-value>/WEB-INF/JSP/commun/pieddepage.jsp</param-value>
  </context-param>
  <servlet>
    <servlet-name>controleur</servlet-name>
    <servlet-class>controleur.Controleur</servlet-class>
    <init-param>
      <param-name>urlAccueil</param-name>
      <param-value>/WEB-INF/JSP/accueil.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>urlListUtilisateurs</param-name>
      <param-value>/WEB-INF/JSP/listUtilisateurs.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>urlListVoitures</param-name>
      <param-value>/WEB-INF/JSP/listVoitures.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>urlDetailsVoiture</param-name>
      <param-value>/WEB-INF/JSP/detailsVoiture.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>controleur</servlet-name>
    <url-pattern>/do/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>